.card-depoimento {
    background-color: transparentize($color: $gray-100, $amount: 0.45);
    border-radius: 0.8rem;
    height: 20.9rem;
    max-width: 38.4rem;
    padding: 3.7rem 3.2rem 2.3rem 3.2rem;
    width: 100%;
    
    box-shadow:
    0px 3px 16.8px -43px rgba(0, 0, 0, 0.019),
    0px 4.6px 43.3px -43px rgba(0, 0, 0, 0.026),
    0px 6.1px 73.3px -43px rgba(0, 0, 0, 0.037),
    0px 8.7px 98.3px -43px rgba(0, 0, 0, 0.057),
    0px 16px 108px -43px rgba(0, 0, 0, 0.12);
    
    .user {
        @include flex(row, center, space-between);
        margin-bottom: 2.1rem;
        strong {
            color: $gray-500;
            display: block;
            font-family: 'Poppins', 'sans-serif';
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: -0.1rem;
            line-height: 112%;
        }
    }
    
    p {
        color: $gray-400;
        font-size: 1.8rem;
        line-height: 150%;
    }
}

.btn-primary, .btn-secondary, .btn-secondary-white {
    border-radius: 12.2rem;
    display: inline-block;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 4.8rem;
    padding: 0 2.6rem;
    transition: all 300ms ease;
}

.btn {
    &-primary {
        background-color: $brand-yellow;
        color: #855B35;
        &:hover {
            background-color: #FFDC5C;
        }
    }

    &-secondary {
        border: 0.175rem solid $brand-light-blue;
        background-color: transparent;
        color: $brand-light-blue;
        &:hover {
            background-color: $brand-light-blue;
            color: #FFF;
        }
    }

    &-secondary-white {
        border: 0.175rem solid #FFF;
        background-color: transparent;
        color: #FFF;
        &:hover {
            background-color: #FFF;
            color: $brand-green-light;
        }
    }
}