footer {
    background-color: $brand-blue;
    padding-top: 4.9rem;
    .top {
        border-bottom: solid 0.2rem transparentize($color: #49c5fd, $amount: 0.8);
        display: flex;
        justify-content: space-between;
        margin-bottom: 5.7rem;
        padding-bottom: 4.8rem;
        .share {
            align-items: center;
            display: flex;
            gap: 3rem;
            span {
                color: transparentize($color: #FFFFFF, $amount: 0.3);
                font-size: 1.4rem;
            }
            ul {
                align-items: center;
                gap: 3rem;
                display: flex;
            }
        }
    }

    .middle {
        border-bottom: solid 0.2rem transparentize($color: #49c5fd, $amount: 0.8);
        margin-bottom: 4.8rem;

        nav {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 3.9rem;

            .item {
                strong {
                    color: #FFFFFF;
                    display: block;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 125%;
                    margin-bottom: 2.4rem;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 2.9rem;
                    li {
                        a {
                            font-size: 1.4rem;
                            line-height: 115%;
                            color: transparentize($color: #FFFFFF, $amount: 0.3);
                        }
                    }
                }

            }

            .contacts {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                max-width: 28rem;
                width: 100%;
                .contact {
                    align-items: center;
                    background-color: transparentize($color: #00a5f0, $amount: 0.77);
                    border-radius: 0.6rem;
                    display: flex;
                    height: 7.6rem;
                    padding-left: 2.5rem;
                    width: 100%;

                    .info {
                        margin-left: 2.4rem;
                        strong,
                        p {
                            font-size: 1.4rem;
                            line-height: 150%;
                        }
                        strong {
                            color: #FFFFFF;
                            font-weight: bold;
                        }
                        p {
                            color: transparentize($color: #FFFFFF, $amount: 0.2);
                        }
                    }
                }
            }
        }
    }

    .bottom {
        align-items: center;
        border-bottom: 0.4rem solid $brand-yellow;
        display: flex;
        gap: 2.4rem;
        padding-bottom: 3.4rem;
        .icon {
            font-size: 1.8rem;
        }
        p {
            font-size: 1.4rem;
            color: transparentize($color: #FFFFFF, $amount: 0.2);
            max-width: 66rem;
            width: 100%;
            line-height: 150%;
        }
    }
}