h1 {
    font-size: 6.4rem;

    @include responsive(1050px) {
        font-size: 5.8rem;
    }
}

h2 {
    font-size: 4rem;

    @include responsive(1050px) {
        font-size: 3.4rem;
    }
}

h3 {
    color: $gray-600;
    font-size: 2.4rem;
    line-height: 150%;

    @include responsive(1050px) {
        font-size: 2.2rem;
    }
}

h4 {
    color: $gray-400;
    font-size: 2rem;
    line-height: 112%;

    @include responsive(1050px) {
        font-size: 1.8rem;
    }
}

h1,
h2 {
    color: $gray-500;
    font-weight: 600;
    letter-spacing: -0.1rem;
    line-height: 112%;
}

h3,
h4 {
    font-weight: 500;
    letter-spacing: -0.05rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', 'sans-serif';
}